<!DOCTYPE html>
<html>
    <head>
        <title>Dispatch Client</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body style="background-color: lightblue; height: 100vh;">
        <div class="uk-flex-center">
            <h1 class="uk-text-center uk-text-bold uk-heading-divider uk-heading-large">Login</h1>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <form class="uk-grid uk-flex-center uk-child-width-expand" style="margin: 0px; height:100;">
            <div class="uk-margin" style="margin: 0px; height:100;"></div>
            <div class="uk-margin" style="margin: 0px; height:100;">
                <div class="uk-inline uk-width-1-1" style="padding:0px; margin:0px;">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" style="margin:0px;margin-bottom: 10px;" type="text" placeholder="Dispatcher ID">
                </div>
                <br/>
                <div class="uk-inline uk-width-1-1" style="margin: 0px; height:100;">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" style="margin:0px;margin-bottom: 10px;" type="password" placeholder="Password">
                </div>
                <br/>
                <button class="uk-button uk-width-1-1 uk-button-primary"><span class="uk-icon" uk-icon="icon: sign-in"></span> Login</button>
            </div>
            <div class="uk-margin" style="margin: 0px; height:100;"></div>
        </form>
    </body>
</html>